@import "__variables", 'mixin', 'sections', 'components', 'pages';
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museo-font/MuseoSansCyrl-500.eot');
  src: local('../fonts/museo-font/MuseoSansCyrl-500'),
      url('../fonts/museo-font/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
      url('../fonts/museo-font/MuseoSansCyrl-500.woff') format('woff'),
      url('../fonts/museo-font/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museo-font/MuseoSansCyrl-900.eot');
  src: local('MuseoSansCyrl-900'),
      url('../fonts/museo-font/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
      url('../fonts/museo-font/MuseoSansCyrl-900.woff') format('woff'),
      url('../fonts/museo-font/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museo-font/MuseoSansCyrl-700.eot');
  src: local('../fonts/museo-font/MuseoSansCyrl-700'),
      url('../fonts/museo-font/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/museo-font/MuseoSansCyrl-700.woff') format('woff'),
      url('../fonts/museo-font/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museo-font/MuseoSansCyrl-300.eot');
  src: local('../fonts/museo-font/MuseoSansCyrl-300'),
      url('../fonts/museo-font/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/museo-font/MuseoSansCyrl-300.woff') format('woff'),
      url('../fonts/museo-font/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museo-font/MuseoSansCyrl-100.eot');
  src: local('../fonts/museo-font/MuseoSansCyrl-100'),
      url('../fonts/museo-font/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
      url('../fonts/museo-font/MuseoSansCyrl-100.woff') format('woff'),
      url('../fonts/museo-font/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MuseoSans';
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-container {
  max-width: 1550px;
  padding: 0 15px;
  margin: 0 auto;
}

.ant-collapse-item {
  border: none !important;
}

.ant-collapse-item .ant-collapse-header .ant-collapse-expand-icon .ant-collapse-arrow {
  display: none !important;
}

.ant-collapse-header .ant-collapse-header-text {
  color: $blue-600;
  font-size: 2.2rem;
  font-weight: 600;
}

.ant-collapse-content {
  border-top: none !important;
  border-radius: 0 !important;
}

.ant-pagination-options {
  display: none !important;
}

.ant-pagination {
  margin: 3rem auto 0;

  .ant-pagination-item {
    min-width: 30px;
    min-height: 30px;
    line-height: 29px;
  }
}

.ant-modal-content {
  width: 110% !important;
  padding: 1rem 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.ant-modal-wrap {
  // cursor: pointer !important;
}

.ant-modal-mask {
  background: rgba(37, 37, 37, 0.7) !important;
}

.ant-modal-close,
.ant-modal-footer {
  display: none;
}

.modal__label {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;

  input {
    flex: 1;
    width: 100%;
    max-width: calc(100% - 50px);
    display: block;
    border-radius: 0;
    border: 0;
    height: 50px;
    line-height: 40px;
    float: left;
    padding-left: 20px;
    background: #fff;
    color: #999;
    font-size: 17px;
    font-style: italic;
    box-shadow: none;
    outline: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 2rem;
    background: $blue-600;
    color: #fff;

  }
}

@media (max-width:1440px) {
  .container {
    max-width: 1240px;
  }
  .nav-container {
    max-width: 1240px;
  }
}

@media (max-width:$xl) {
  .container {
    max-width: 1440px;
  }
  .nav-container {
    max-width: 1550px;
  }
}

@media (max-width:$md) {
  .ant-collapse-header .ant-collapse-header-text {
    font-size: 2rem;
  }
}

@media (max-width:$xs) {
  .ant-collapse-header .ant-collapse-header-text {
    font-size: 1.8rem;
  }
}

@media (max-width:$sm) {
  .ant-collapse-header .ant-collapse-header-text {
    font-size: 1.5rem;
  }
}

@media print {

  .navbar,
  .footer,
  .sidebar-container,
  .committee-page__sidebar,
  .base-button,
  // img,
  .bread__crumb {
    display: none !important;
  }
}