
.ant-dropdown-menu-vertical {
    .ant-dropdown-menu-submenu-open {
        .ant-dropdown-menu-submenu-title {
            background: none !important;
        }
    }
    .ant-dropdown-menu-submenu-active {
        .ant-dropdown-menu-submenu-title {
            background: none !important;
        }
    }
}

.ant-dropdown-menu-sub {
    .ant-dropdown-menu-item-only-child {
        padding: 6px 8px !important;
        border-bottom: 1px solid #cacaca;
        border-radius: 0 !important;

        .ant-dropdown-menu-title-content {
            font-size: 1.6rem;
            color: $black-600 !important;
            font-weight: 500;
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: none !important;
        }
    }

    .ant-dropdown-menu-submenu-open {
        .ant-dropdown-menu-submenu-title {
            background: none !important;
        }
    }
    .ant-dropdown-menu-submenu-active {
        .ant-dropdown-menu-submenu-title {
            background: none !important;
        }
    }
}