.partner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(157, 165, 185, 0.2);
    height: 230px;
    // max-width: 330px;
   
    width: 100%;
    padding: 8px 0;


    &__img {
        width: 100%;
        // width: 330px;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        height: 80%;
        max-height:180px;

        img {
            width: auto;
            // max-width: 90%;
        }
    }

    &__name {
        @include desc($black-800);
        font-weight: 600;
        text-transform: capitalize;
    }


    @media (max-width:$md) {
        height: 220px;
        // max-width: 301px;
        // min-width: 300px;
    }

    @media (max-width:$xs) {
        height: 200px;
        // max-width: 280px;
        // min-width: 260px;
    }

}