.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .sidebar-wrapper {
        @include content();

        h3 {
            @include card-title($black-800)
        }
    }
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
        position: relative;
        cursor: pointer;

        a {
            font-size: 1.8rem !important;
            font-weight: 500;
            cursor: pointer;
            color: $gray-800;
        }
    }
}