.horizontal-slider {
    margin-bottom: 1.5rem;

    &__card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height:230px !important;
        max-height:250px !important;
        padding: 15px 0;
        margin: 20px 0;
    }
    &__card-time {
        display: flex;
        gap: 5px;
        align-items: center;

        span {
            font-size: 1.8rem;
            color: var(--white-800);
            font-weight: 500;
        }
    }

    &__card-title {
        font-size: 3.8rem;
        color: var(--white-800);
        font-weight: 800;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    &__card-btn {
        font-weight: 500;
        background: var(--blue-800);
        border-radius: 3px;
        font-size: 18px;
        line-height: 22px;
        color: var(--white-800);
        padding: 10px 31px;
        transition: $smooth;

        &:hover {
            color: var(--blue-800);
            background:var(--white-900);
        }
    }

    .slick-dots-left {
        display: none !important;
    }

    @media (max-width:1440px) {
        &__card-title {
            font-size: 3.7rem;

        }
      
    }
    @media (max-width:$xl) {
        &__card {
            height: 200px !important;
        }

        &__card-time {
            span {
                font-size: 1.5rem;
            }
        }

        &__card-title {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: 800;
        }

        &__card-btn {
            font-size: 1.5rem;
            line-height: 20px;
            padding: 8px 28px;
        }
    }

  
    @media (max-width:$md) {
        &__card {
            height: 180px !important;
            margin: 10px 0;
        }

        &__card-time {
            span {
                font-size: 1.5rem;
            }
        }

        &__card-title {
            font-size: 2.8rem;
            font-weight: 700;
        }

        &__card-btn {
            padding: 8px 25px;
        }
    }

    @media (max-width:$xs) {
        &__card-title {
            font-size: 2.5rem;
        }
    }

    @media (max-width:$sm) {
        &__card-title {
            font-size: 2rem;
        }

        &__card-btn {
            padding: 6px 20px;
        }
    }
}