.home-interview-section {
    margin: 80px 0;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__title {
        @include title(var(--black-800));
        font-weight: 900;
    }

    &__btn {
        @include nav-link(var(--blue-700));
    
    }
    &__btn{
        font-weight: 500;
        border: 1px solid var(--blue-800);
        padding: 6px 12px;
        border-radius: 4px;
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    @media (max-width:$md) {
        margin: 50px 0;
    }

    @media (max-width:$xs) {
        margin: 40px 0;

        &__flex {
            margin-bottom: 2rem;
        }
    }

    @media (max-width:$sm) {
        margin: 30px 0;
    }
}