.global-federation {
    &__tab {
        @include content();

        .ant-tabs-tab {
            border: 1px solid transparent;
            margin: 0 !important;
            padding: 0 !important;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;

            .ant-tabs-tab-btn {
                font-size: 1.8rem;
                color: var(--gray-700);
                padding: 8px 16px !important;
            }
        }

        .ant-tabs-tab-active {
            border-color: #dee2e6;

            .ant-tabs-tab-btn {
                color: var(--blue-700) !important;
            }

        }

        .ant-tabs-ink-bar-animated {
            background: var(--white-900);
        }

    }

    @media (max-width:$md) {
        .ant-tabs-tab {
            .ant-tabs-tab-btn {
                font-size: 1.5rem;
                padding: 8px 12px !important;
            }
        }
    }

    @media (max-width:$sm) {
        .ant-tabs-tab {
            .ant-tabs-tab-btn {
                font-size: 1.2rem;
            }
        }
    }
}