.home-page {
    &__strategy {
        height: 400px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.09);
        margin: 2rem 0;
        background: url('@/assets/images/strategy.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &__banner {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.09);
        height: 141px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__partner {
        margin: 40px 0;

        h2 {
            @include title($black-800);
            
            
        }
    }

    &__olimpic {
        margin: 40px 0;

        h2 {
            @include title($black-800);
          
           
        }

        .olimpic-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

        .last-item {
            border-radius: 4px;
            border: 1px solid $gray-200;
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 2rem 3rem;

            h3 {
                @include desc($blue-700);
                

                svg {
                    font-size: 1.4rem;
                }
            }


            .item-flex {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 5px;

                span {
                    font-size: 1.6rem;
                    color: $gray-900;
                    font-weight: 500;
                }
            }

        }
    }

    /*
$sm: 576px;
$xs: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1500px;
*/
    @media (max-width:$xl) {
        &__strategy {
            height: 380px;
            background-size: 110% 100%;
            background-position: center;
        }

        &__olimpic {

            .olimpic-grid {
                gap: 1.5rem;
            }
        }
    }

    @media (max-width:$lg) {
        &__olimpic {
            .olimpic-grid {
                grid-template-columns: repeat(3, 1fr);
            }

            .last-item {
                padding: 2.5rem;
            }
        }
    }

    @media (max-width:$md) {
        &__strategy {
            height: 360px;
            background-size: 120% 110%;
        }

        &__olimpic {
            .last-item {
                padding: 2rem;
            }
        }
    }

    @media (max-width:$xs) {
        &__strategy {
            height: 300px;
            background-size: 100% 100%;
        }

        &__olimpic {
            .olimpic-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media (max-width:$sm) {
        &__strategy {
            background-size: 130% 100%;
        }

        &__olimpic {
            .olimpic-grid {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }


}