.home-page {
    min-height: 100vh;
    &__strategy {
        height: 400px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.09);
        margin: 2rem 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__banner {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.09);
        height: 141px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__partner {
        margin: 40px 0;

        h2 {
            @include title(var(--black-800));
            font-weight: 900;
        }
    }

    &__olimpic {
        margin: 40px 0;

        h2 {
            @include title(var(--black-800));
          font-weight: 900;
           
        }

        .olimpic-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

        .last-item {
            border-radius: 4px;
            border: 1px solid var(--gray-200);
            background: var(--white-900);
            display: flex;
            flex-direction: column;
            padding: 2rem 3rem;

            h3 {
                @include desc(var(--blue-700));
                

                svg {
                    font-size: 1.4rem;
                }
            }


            .item-flex {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 5px;

                span {
                    font-size: 1.6rem;
                    color: var(--gray-900);
                    font-weight: 500;
                }
            }

        }
    }

    /*
$sm: 576px;
$xs: 768px;
$md: 992px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1500px;
*/
    @media (max-width:$xl) {
        &__strategy {
            height: 380px;
            background-size: 110% 100%;
            background-position: center;
        }

        &__olimpic {

            .olimpic-grid {
                gap: 1.5rem;
            }
        }
    }

    @media (max-width:$lg) {
        &__olimpic {
            .olimpic-grid {
                grid-template-columns: repeat(3, 1fr);
            }

            .last-item {
                padding: 2.5rem;
            }
        }
    }

    @media (max-width:$md) {
        &__strategy {
            height: 360px;
            background-size: 100% 110%;
        }

        &__olimpic {
            .last-item {
                padding: 2rem;
            }
        }
    }

    @media (max-width:$xs) {
        &__strategy {
            height: 300px;
            background-size: 100% 100%;
        }

        &__olimpic {
            .olimpic-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
      
    }

    @media (max-width:$sm) {
        &__strategy {
            background-size: 100% 100%;
            height: 160px;
            padding: 10px 0;
        }
        &__banner {
            height: 60px;
            overflow: hidden;
            // img{
            //     width: 130%;
            //     height: 110%;
            // }
        }
        &__olimpic {
            .olimpic-grid {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }


}