.news-slug {
    padding: 40px 0;

    &__content {
        @include content();
        height: max-content !important;

        p {
            @include desc(var(--black-800));
        }

        video {
            width: 100% !important;
        }
    }

    & h2 {
        @include slug-title(var(--black-600))
    }


    &__img {
        width: 100%;
        height: 100% !important;
        max-height: 500px;
        min-height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 5px;

        svg,
        span {
            font-size: 1.6rem;
            color: var(--blue-800);
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 1rem;

        li {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                opacity: 1;
                color: var(--white-900);

                svg {
                    width: 16px;
                }
            }

            &:nth-child(1) {
                background: var(--blue-800);
            }

            &:nth-child(2) {
                background: rgb(255, 119, 0);
            }

            &:nth-child(3) {
                background: #2481cc;
            }

            &:nth-child(4) {
                background: var(--black-800);
            }
        }


    }

    &__statistic {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1.6rem;
        color: var(--blue-800);
    }
}